arrow==0.7.0
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
certifi==2015.11.20
chardet==2.3.0
cssselect==0.9.1
docutils==0.12
feedparser==5.2.1
Flask==0.10.1
Flask-Login==0.3.2
gevent==1.1rc1
gevent-websocket==0.9.5
greenlet==0.4.9
itsdangerous==0.24
Jinja2==2.8
lockfile==0.12.2
lxml==3.5.0
MarkupSafe==0.23
peewee==2.7.4
Pillow==3.1.0
python-daemon==2.1.0
python-dateutil==2.4.2
python-magic==0.4.10
pytz==2015.7
readability-lxml==0.6.1
requests==2.8.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
ujson==1.33
Werkzeug==0.11.3
