arrow==0.10.0
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.5.1
certifi==2016.9.26
chardet==2.3.0
click==6.6
cssselect==1.0.0
docutils==0.13.1
feedparser==5.2.1
Flask==0.11.1
Flask-Login==0.4.0
Flask-Sijax==0.4.1
Flask-SocketIO==2.8.2
future==0.16.0
gevent==1.1.2
gevent-websocket==0.9.5
greenlet==0.4.11
itsdangerous==0.24
Jinja2==2.8
lockfile==0.12.2
lxml==3.7.0
MarkupSafe==0.23
peewee==2.8.5
Pillow==3.4.2
python-daemon==2.1.2
python-dateutil==2.6.0
python-engineio==1.1.0
python-magic==0.4.12
python-socketio==1.6.1
pytz==2016.10
readability-lxml==0.6.2
requests==2.12.4
Sijax==0.3.2
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2
ujson==1.35
Werkzeug==0.11.11
