arrow==0.15.4
astroid==2.3.3
beautifulsoup4==4.8.1
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cssselect==1.1.0
feedparser==5.2.1
Flask==1.1.1
gevent==1.4.0
greenlet==0.4.15
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
lxml==4.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
peewee==3.12.0
Pillow==7.1.0
pylint==2.2.2
python-dateutil==2.8.1
python-magic==0.4.15
readability-lxml==0.7.1
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
typed-ast==1.4.0
urllib3==1.25.7
Werkzeug==0.16.0
wrapt==1.11.2
