.content {
	 border-left: 1px solid black;
}	 

.categories {
	    border-top: 1px solid black;
	    border-bottom: 1px solid black;
}

.cathead { 
	 font-size: 120%;
	 font-weight: bold;
	 padding: 5px;
}

.catentry {
  padding-left: 12px;
}

.post {
      overflow: hidden;
}

.postheader {
	    border: 1px solid black;
	    padding: 5px;
	    padding-left: 10px;
	    }

.postdelete {
	    float: right;
	    padding-top: 3px;
	    }

.postdelete:hover {
		  color: red;
		  }
