.content {
	 border-left: 1px solid black;
}	 

.categories {
	    border-top: 1px solid black;
	    border-bottom: 1px solid black;
}

.cathead { 
	 font-size: 120%;
	 font-weight: bold;
	 padding: 5px;
}

.catentry {
  padding-left: 12px;
}

.fa-rss {
	color: blue;
	}

.fa-star {
	 color: #c9c955;
	 }

.post {
      overflow: hidden;
}

.feedlistposts {
	       text-align: right;
	       }

.postheader {
	    border: 1px solid black;
	    padding: 5px;
	    padding-left: 10px;
	    }

.postdelete {
	    float: right;
	    padding-top: 3px;
	    }

.feeddelete {
	    padding-top: 3px;
}

.feededit {
	  color: black;
	  }

.postdelete:hover {
		  color: red;
		  cursor: pointer;
}

.feeddelete:hover {
		  color: red;
		  cursor: pointer;
}		 

.feededit:hover {
		color: blue;
		cursor: pointer;
		}

.feedrefresh:hover {
		   color: green;
		   cursor: pointer;
		   }

.fav:hover {
	   cursor: pointer;
	   }
