{% extends "base.html" %}
{% block content %}
<h1>Import</h1>
<h3>Import OPML file</h3>
<form action="/import/parse" method="post" enctype="multipart/form-data">
<div style="position:relative;">
  <a class='btn' href='javascript:;'>
    Choose File...
    <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
    </a>
  &nbsp;
  <span class='label label-info' id="upload-file-info"></span>
  </div>
</form>
{% endblock %}

