<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<!-- begin Twitter Bootstrap CDN -->
<link
href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
rel="stylesheet">
<script
src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<!-- end Twitter Bootstrap CDN -->
<!-- begin FontAwesome CDN -->
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
<!-- end FontAwesome CDN -->
<!-- begin MomentJS CDN -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
<!-- end MomentJS CDN -->
{% if title %}
<title>{{title}} - Wisewolf</title>
{% else %}
<title>Wisewolf</title>
{% endif %}
</head>
<body>
<h1>Wisewolf: <a href="/index">Home</a></h1>
<hr>
{% block content %}{% endblock %}
</body>
</html>

