<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
<!-- begin CSS -->
<!-- Twitter Bootstrap CDN -->
<link
href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"
rel="stylesheet">
<!-- FontAwesome CDN -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- end CSS -->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% if title %}
<title>{{title}} - Wisewolf</title>
{% else %}
<title>Wisewolf</title>
{% endif %}
</head>
<body>

<!-- begin main body text -->
<div class="container">
<div class="row">
<div class="span12">

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- brand name: can we put a logo here? -->
      <a class="brand" href="#">Wisewolf</a>

      <div class="nav-collapse">
	<ul class="nav">
	  <li><a accesskey="H" href="/">Home</a></li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Feeds <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a accesskey="F" href="/feed">Manage Feeds</a></li>
              <li><a href="/feed/add">Add Feed</a></li>
              <li class="divider"></li>
              <li><a href="/refresh/current">Refresh current</a></li>
              <li><a href="/refresh/all">Refresh all</a></li>
            </ul>
	  </li>  
	  
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a accesskey="C" href="/category">Manage Categories</a></li>
              <li><a href="/category/add">Add Category</a></li>
            </ul>
	  </li>  

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a accesskey="G" href="/gallery">Manage Galleries</a></li>
              <li><a href="/gallery/add">Add Gallery</a></li>
            </ul>
	  </li>  

          <li><a accesskey="I" href="/import">Import</a></li>
          <li><a href="/settings">Settings</a></li>

	</ul>
	<ul class="nav pull-right">
	  <li><a accesskey="R" href="/refresh/all"><i class="icon-repeat icon-large"></i>&nbsp;Refresh</a></li>
	</ul>
    </div>
  </div>
</div>

<hr>
{% block content %}{% endblock %}
</div>
</div>
</div>
<!-- end main body text -->
<!-- begin Javascript -->
<!-- jQuery CDN -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- Bootstrap CDN -->
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!--  Knockout.JS CDN-->
<script src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
<!-- MomentJS CDN -->
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<!-- end Javascript -->
</body>
</html>

