{% extends "base.html" %}
{% block content %}
<h1><i>Wisewolf</i> RSS Aggregator</h1>
<div class="row">
    <div class="span4">
        <table>
            <tr><th>{{categories.name}}</th>
            <th>
                <a href="category/{{categories.id}}/settings"><i class="fa fa-cog"></i></a>
            </th>
            </tr>
            {% for f in feeds %}
            <tr><td>
                -&nbsp;<a href="feed/{{f.id}}">{{f.name}}</a>&nbsp;({{f.count}})
            </td></tr>
            {% endfor %}
        </table>
    </div>
    <div class="span8">
        <table>
        <tr><th>Posts:</th></tr>
        {% for p in posts %}
        <tr><td>
            <a href="post/{{p.id}}">{{p.title}}</a>
        </td></tr>
        <tr><td>
            {{p.description}}
            {% if p.content != "No content" %}
            <br/>{{p.content}}
            {% endif %}
        </td></tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

