{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="span3">
        <table>
        {% for c in categories %}
        <tr class="cathead"><td>
            <a href="category/{{c.id}}">{{c.name}}</a>&nbsp;({{c.count}})
        </td>
        <td>
            <a href="category/{{c.id}}/settings"><i class="fa fa-cog"></i></a>
        </td></tr>
            {% for f in feeds[c.id] %}
            <tr><td>
                -&nbsp;<a href="feed/{{f.id}}">{{f.name}}</a>&nbsp;({{f.count}})
            </td>
            <td></td>
            </tr>
            {% endfor %}
        {% endfor %}
        </table>
    </div>
    <div class="span9">
        <table>
        {% for p in posts %}
        <tr><td>
            <b><a href="post/{{p.id}}">{{p.title}}</a></b> [<a href="{{p.link}}">Link</a>]&nbsp;{{ p.published }}
        </td></tr>
        <tr><td>
            <i>{{p.description}}</i>
            {% if p.content %}
            <br/>{{p.content}}
            {% endif %}
	<br/><br/>
        </td></tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
