{% extends "base.html" %}
{% block content %}
<h1><i>Wisewolf</i> RSS Aggregator</h1>
<div class="row">
    <div class="span4">
        <table>
        <tr><th>Categories:</th></tr>
        {% for c in categories %}
        <tr><td>
            <a href="category/{{c.id}}">{{c.name}}</a>
        </td></tr>
        {% endfor %}
        </table>
    </div>
    <div class="span8">
        <table>
        <tr><th>Posts:</th></tr>
        {% for p in posts %}
        <tr><td>
            <a href="post/{{p.id}}">{{p.title}}</a>
        </td></tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
