{% extends "base.html" %}
{% macro favicon(id) -%}
<img src="/static/cache/icons/favicon_{{ id }}.ico" onError="this.onerror=null;this.src='/static/favicon.ico';">
{%- endmacro %}
{% block content %}
<div class="row">
    <div class="col-md-3 sidebar">
        <div class="categories">
        {% for c in categories %}
        <div class="category cat-{{c.id}}">
	  <div class="cathead cath-{{c.id}}">
            <a href="/category/{{c.id}}">{{c.name}}</a>&nbsp;({{c.count}})
            <a href="/category/{{c.id}}/settings"><i class="fa fa-cog"></i></a>
	  </div>
	  <div class="catbody catb-{{c.id}}">
            {% for f in feeds[c.id] %}
	    <div class="catentry cate-{{c.id}} feed-{{f.id}}">
                -&nbsp;{{ favicon( f.id ) }}&nbsp;<a href="/feed/{{f.id}}">{{f.name}}</a>&nbsp;({{f.count}})
	    </div>
            {% endfor %}
	  </div>
	</div>
        {% endfor %}
        </div>
    </div>
    <div class="col-md-9 content">
        {% for p in posts %}
	    <div class="post">
            <div class="postheader">{{ favicon( p.feed.id ) }}&nbsp;<b><a href="/post/{{p.id}}">{{p.title}}</a></b> [<a href="{{p.link}}">Link</a>]&nbsp;{{ datestamps[p.id] }}</div>
	    <div class="postbody">
            <i>{{p.description}}</i>
            {% if p.content %}
            <br/>{{p.content|safe}}
            {% endif %}
	    </div>
	    </div>
	    <br/>
        {% endfor %}
    </div>
</div>
{% endblock %}
