{% extends "base.html" %}
{% macro favicon(id) -%}
<img src="/static/cache/icons/favicon_{{ id }}.ico" onError="this.onerror=null;this.src='/static/favicon.ico';">
{%- endmacro %}
{% block content %}
<div class="col-md-12">
<h2><i class="fa fa-rss fa-lg"></i>&nbsp;Manage Feeds</h2>
<table class="table table-striped feedlist">
<tr>
<th>#</th><th>Name</th><th>Category</th><th>URL</th><th>Posts</th><th>Last checked</th><th>&nbsp;</th>
</tr>
{% for f in feedlist %}
<tr class="feed-{{ f.id }}">
<td>{{ f.id }}</td>
<td>{{ favicon( f.id ) }}&nbsp;<a href="/feed/{{ f.id }}">{{ f.name }}</a></td>
<td>{{ f.category.name }}</td>
<td><a href="{{ f.url }}">{{ f.url[:30] + '...' }}</a></td>
<td class="feedlistposts">{{ f.count }}</td>
<td>{{ datestamps[f.id] }}</td>
<td class="feedops"><i class="fa fa-refresh fa-lg feedrefresh" onclick="refreshFeed({{ f.id }})"></i>&nbsp;<a href="/feed/edit/{{ f.id }}"><i class="fa fa-pencil fa-lg feededit"></i></a>&nbsp;<i class="fa fa-times fa-lg feeddelete" onclick="deleteFeed({{f.id}})"></i></td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}

