{% extends "base.html" %}
{% macro favicon(id) -%}
<img src="/static/cache/icons/favicon_{{ id }}.ico" onError="this.onerror=null;this.src='/static/favicon.ico';">
{%- endmacro %}
{% block content %}
<div class="row">
  <div class="col-md-3 sidebar">
    <div class="categories">
      {% for c in categories %}
      <div class="category cat-{{c.id}}">
        <div class="cathead cath-{{c.id}}">
          <i class="fa fa-folder-open"></i>&nbsp;<a href="/category/{{c.id}}">{{c.name}}</a>&nbsp;({{c.count}})
        </div>
        <div class="catbody catb-{{c.id}}">
          {% for f in feeds[c.id] %}
          <div class="catentry cate-{{c.id}} feed-{{f.id}}">
            <i class="fa fa-caret-right"></i>&nbsp;{{ favicon( f.id ) }}&nbsp;<a href="/feed/{{f.id}}">{{f.name}}</a>&nbsp;({{f.count}})
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-9 content">
    <h2>Settings</h2>
  </div>
</div>
{% endblock %}

